MONGODB_URI=
JWT_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
IYZICO_API_KEY=
IYZICO_SECRET_KEY=

PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
PAYTR_OK_URL=
PAYTR_FAIL_URL=
