MONGODB_URI=mongodb://greennburak11_db_user:7mz4NvDyfKvAEE4u@ac-igmknst-shard-00-00.we4gg6n.mongodb.net:27017,ac-igmknst-shard-00-01.we4gg6n.mongodb.net:27017,ac-igmknst-shard-00-02.we4gg6n.mongodb.net:27017/?ssl=true&replicaSet=atlas-58i6sd-shard-0&authSource=admin&appName=GreenN10

JWT_SECRET=memoriaMetal_2026_super_secret_key

NEXT_PUBLIC_SITE_URL=http://localhost:3000


NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=uploads

RESEND_API_KEY=
MAIL_FROM=MemoriaMetal <noreply@memoriametal.com>
MAIL_TO_OWNER=yesilburak52@gmail.com

IYZICO_API_KEY=sandbox-WA05OnnWycwVVPPDBlMAvQ41HkazQX0X
IYZICO_SECRET_KEY=sandbox-A7v9kzswnYzKyMW5io9pFxzJMhI0UJF9
IYZIPAY_BASE_URL=https://sandbox-api.iyzipay.com

PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
PAYTR_OK_URL=http://localhost:3000/odeme/basarili
PAYTR_FAIL_URL=http://localhost:3000/odeme/hata
